{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-12">
        <h1>Editer l'ordinateur</h1>
        {{ include ('admin/computer/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}


