{% extends 'base.html.twig' %}

{% block title 'Ajouter un administrateur' %}

{% block body %}
    <div class="container mt-12">
        <h1>Ajouter administrateur</h1>
        {{ include ('security/_formuser.html.twig', {form: form, button: 'Ajouter'}) }}
    </div>
{% endblock %}
