{% extends 'base.html.twig' %}

{% block title 'Modifier un administrateur' %}

{% block body %}
    <div class="container mt-12">
        <h1>Modifier administrateur</h1>
        {% if app.user %}
            <div class="alert alert-danger">
                <p>Attention pour modifier l'administrateur, il faut obligatoirement renseigner son mot de passe existant ou le changer</p>
            </div>
        {% endif %}
        {{ include ('security/_formuser.html.twig', {form: form, button: 'Modifier'}) }}
    </div>
{% endblock %}