{% extends 'base.html.twig' %}

{% block title 'Acceuil' %}

{% block body %}
    <div class="jumbotron txt-center">
        <h1>WORLD OF COMPUTER</h1>
        <p> Bienvenue dans l'univers de l'ordinateur, vous trouverez ici les meilleurs ordinateurs</p>
    </div>
{% endblock %}